<!DOCTYPE HTML>
<html>
	<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Project Counter Phobia</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="Free HTML5 Website Template by FreeHTML5.co" />
	<meta name="keywords" content="free website templates, free html5, free template, free bootstrap, free website template, html5, css3, mobile first, responsive" />
	<meta name="author" content="FreeHTML5.co" />

	<!-- 
	//////////////////////////////////////////////////////

	FREE HTML5 TEMPLATE 
	DESIGNED & DEVELOPED by FreeHTML5.co
		
	Website: 		http://freehtml5.co/
	Email: 			info@freehtml5.co
	Twitter: 		http://twitter.com/fh5co
	Facebook: 		https://www.facebook.com/fh5co

	//////////////////////////////////////////////////////
	 -->

	<link href='https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
	<link href="https://fonts.googleapis.com/css?family=Playfair+Display:400,700" rel="stylesheet" type="text/css">
	
	<!-- Animate.css -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/animate.css') }}" type="text/css">
	<!-- Icomoon Icon Fonts-->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/icomoon.css') }}" type="text/css">
	<!-- Bootstrap  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}" type="text/css">
	<!-- Theme style  -->
	<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
	<!-- Modernizr JS -->
	<script src="{{ url_for('static', filename='js/modernizr-2.6.2.min.js') }}"></script>
	<!-- FOR IE9 below -->
	<!--[if lt IE 9]>
	<script src="js/respond.min.js"></script>
	<![endif]-->

	</head>
	<body>
		
	<div class="fh5co-loader"></div>
	
	<div id="page">
	<nav class="fh5co-nav" role="navigation">
		<div class="container">
			<div class="row">
				<div class="left-menu text-right menu-1">
					<ul>
						<li><a href="#fh5co-about">About</a></li>
					</ul>
				</div>
				<div class="logo text-center">
					<div id="fh5co-logo"><a href="https://www.samhealth.org.sg/understanding-mental-health/what-is-mental-illness/anxiety-disorders/">Counter Anxiety</a></div>
				</div>
				<div class="right-menu text-left menu-1">
					<ul>
						<li class="has-dropdown">
							<a href="https://think-psych.com/adult-psychological-counselling-services/psychotherapy-counselling/phobia/">Phobia</a>
							<ul class="dropdown">
								<li><a href="#fh5co-header-Scopophobia">Scopophobia</a></li>
								<li><a href="#fh5co-header-Trypophobia">Trypophobia</a></li>
							</ul>
						</li>
						<!-- <li class="btn-cta"><a href="#"><span>Login</span></a></li> -->
					</ul>
				</div>
			</div>
			
		</div>
	</nav>

	<header id="fh5co-header" class="fh5co-cover" role="banner" style="background-image:url(static/images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-10 col-md-offset-1 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Build your confidence for phobia!</h1>
							<br>
							<h2>A phobia is a type of anxiety disorder. Phobias are among the most common of all mental illnesses,
								 and they are usually the most successfully treated.</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-services" class="fh5co-bg-section">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-eye"></i>
						</span>
						<h3>Face your fears</h3>
						<p>Avoiding fears only makes them scarier. Whatever your fear, if you face it, it should start to fade. 
							If you panic one day getting into a lift, for example, it's best to get back into a lift the next day.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-command"></i>
						</span>
						<h3>Don't try to be perfect</h3>
						<p>Life is full of stresses, yet many of us feel that our lives must be perfect. 
							Bad days and setbacks will always happen, and it's important to remember that life is messy.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4">
					<div class="feature-center animate-box" data-animate-effect="fadeIn">
						<span class="icon">
							<i class="icon-mouse"></i>
						</span>
						<h3>Reward yourself</h3>
						<p>Finally, give yourself a treat. When you've made that call you've been dreading, 
							for example, reinforce your success by treating yourself to a massage, a country walk, 
							a meal out, a book, a DVD, or whatever little gift makes you happy.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	<div id="fh5co-testimonial" style="background-image:url(images/img_bg_1.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<h2>What is this website for?</h2>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo;This website aims to provide a self phobia trainer. Each phobia has 3 levels of difficulty
								train yourself from the 1st level and slowly progress to the end of the training.&rdquo;</p>
						</blockquote>
						<p class="author">Stanley Lin<span class="subtext">Project Lead</span></p>
					</div>
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo;Informations about specific phobia can be found here. 
								Practice at least 15 minutes a day will benefit you in the long run. Be assure that 
								no data is collected by the project team.&rdquo;</p>
						</blockquote>
						<p class="author">Stanley Lin<span class="subtext">Project Lead</span></p>
					</div>
					
					
				</div>
				<div class="col-md-4">
					<div class="box-testimony animate-box">
						<blockquote>
							<span class="quote"><span><i class="icon-quote"></i></span></span>
							<p>&ldquo;This project is still very early in development, 
								more phobia trainers may be added in the future. This is a student project, 
								no medical professionals were consulted at this current version of the website.&rdquo;</p>
						</blockquote>
						<p class="author">Stanley Lin<span class="subtext">Project Lead</span></p>
					</div>
					
				</div>
			</div>
		</div>
	</div>

	<header id="fh5co-header-Scopophobia" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(static/images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Scopophobia</h1>
							<br>
							<a href="https://www.loom.com/blog/tips-for-getting-better-on-camera"><h2>
								Scopophobia, or camera phobia, is the excessive fear of being watched.
								 But even if you aren't excessively afraid of the camera, according to Harvard Business Review,
								 humans are hardwired to kick into fight-or-flight mode when they're being watched.</h2></a>
							</br>
							<h2>LEVEL 1, GET READY, CAMERA IS ON!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<img src="{{ url_for('video1') }}" class="center"/>
	</div>

	<header id="fh5co-header-Scopophobia2" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(static/images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Scopophobia</h1>
							<br>
							<a href="https://www.loom.com/blog/tips-for-getting-better-on-camera"><h2>
								Did you know that there is a direct link between Scopophobia and stage fright</h2></a>
							</br>
							<h2>LEVEL 2, GET READY, CAMERA IS ON!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<img src="{{ url_for('video2') }}" class="center"/>
	</div>

	<header id="fh5co-header-Scopophobia3" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(static/images/camera.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>Scopophobia</h1>
							<br>
							<a href="https://www.loom.com/blog/tips-for-getting-better-on-camera"><h2>
								Try visiting the website a week before a presentation to practice the feeling of being watched. 
								It is best to say your script to the camera too.</h2></a>
							</br>
							<h2>LEVEL 3, GET READY, CAMERA IS ON!</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<img src="{{ url_for('video3') }}" class="center"/>
	</div>

	<header id="fh5co-header" class="fh5co-cover fh5co-cover-sm" role="banner" style="background-image:url(images/img_bg_2.jpg);">
		<div class="overlay"></div>
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-md-offset-2 text-center">
					<div class="display-t">
						<div class="display-tc animate-box" data-animate-effect="fadeIn">
							<h1>About Us</h1>
						</div>
					</div>
				</div>
			</div>
		</div>
	</header>

	<div id="fh5co-about">
		<div class="container">
			<div class="about-content">
				<div class="row animate-box">
					<div class="col-md-6 col-md-push-6">
						<div class="desc">
							<h3>History</h3>
							<p>This project was made in a Singapore hackathon named, Mindful Hack. In this in-person hackathon, 
								student were required to make an application to help lift the mental health blocks.
							</p> 
							<p>Professional 
								understanding-mental-health talks were given and it was a calling for the people at the hackathon 
								to create something that is meaningful.
							</p>
						</div>
						<div class="desc">
							<h3>Mission &amp; Vission</h3>
							<p>This project is cater to people who may want to detect themselves for phobia 
								and a self-trainer at their comfort. Hopefully, more people are willing to train themselves 
								and improve their mental health over time. Currently only Scopophobia is added.
							</p> 
							<p>It steps away from the traditional thoughts of online mental health platforms. 
								There is no therapist coaches or counselor. The team believes that everyone needs to be self-directed 
								in training one self's mental health.
							</p>
						</div>
					</div>
					<div class="col-md-6 col-md-pull-6">
						<img class="img-responsive" src="static/images/mental-health.png" alt="about">
					</div>
					
				</div>
			</div>
			<div class="row animate-box">
				<div class="col-md-8 col-md-offset-2 text-center fh5co-heading">
					<span>Meet the person behind this project</span>
					<h2>Meet the person behind this project</h2>
				</div>
			</div>
			<div class="row center">
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="static/images/Stanley.jpeg">
						<h3>Stanley Lin</h3>
						<strong class="role">Project lead</strong>
						<p>Coined this project idea and lead this project to success</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="static/images/Stanley.jpeg">
						<h3>Stanley Lin</h3>
						<strong class="role">Back-end</strong>
						<p>Handled OpenCV and Flask micro web framework</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-4 animate-box" data-animate-effect="fadeIn">
					<div class="fh5co-staff">
						<img src="static/images/Stanley.jpeg">
						<h3>Stanley Lin</h3>
						<strong class="role">Front-end</strong>
						<p>Edited Bootstrap template and integrate the Python into the website</p>
					</div>
				</div>
			</div>
		</div>
	</div>

	<footer id="fh5co-footer" role="contentinfo">
		<div class="container">
			<div class="row copyright">
				<div class="col-md-12 text-center">
					<p>
						<small class="block">&copy; 2016 Free HTML5. All Rights Reserved.</small> 
						<small class="block">Designed by <a href="http://freehtml5.co/" target="_blank">FreeHTML5.co</a> Demo Images: <a href="http://unsplash.com/" target="_blank">Unsplash</a></small>
					</p>
				</div>
			</div>

		</div>
	</footer>
	</div>

	<div class="gototop js-top">
		<a href="#" class="js-gotop"><i class="icon-arrow-up"></i></a>
	</div>
	
	<!-- jQuery -->
	<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
	<!-- jQuery Easing -->
	<script src="{{ url_for('static', filename='js/jquery.easing.1.3.js') }}"></script>
	<!-- Bootstrap -->
	<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}"></script>
	<!-- Waypoints -->
	<script src="{{ url_for('static', filename='js/jquery.waypoints.min.js') }}"></script>
	<!-- Main -->
	<script src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>

